name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Clear Cache
      run: |
        sudo rm -rf /opt/hostedtoolcache/Python
        sudo rm -rf /home/runner/.cache/pip

    - uses: actions/checkout@v3

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.0'
        extensions: mysqli

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Setup Chrome
      uses: browser-actions/setup-chrome@latest

    - name: Start web server
      run: |
        sudo cp -r . /var/www/html/quiz
        sudo service apache2 start
        sleep 5

    - name: Debug page
      run: |
        curl http://localhost/quiz/login.php

    - name: Run tests
      run: |
        pytest tests/test_auth.py

    - name: Check Apache error log
      if: failure()
      run: |
        sudo cat /var/log/apache2/error.log